/* ProductDisplay.css */

.products-display {
    padding: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    transition: 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Product Image */
.product-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Product Title */
.product-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

/* Product Price */
.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #f43397;
    margin-bottom: 0;
}